 
<table class="table table-light table-hover"> 
  <% posts.each do |post| %>
    <tr>
      <td><%= link_to post_path(post.id) do %>
            <% if post.image.attached? %>
             <%= image_tag post.image, size: "80x80" %>
            <% else %>
             <%= image_tag 'no_image_irasutoya', size: "80x80" %>
            <% end %>
          <% end %>
      </td> 
      <td>
        <div class="d-flex flex-column">
          <div>
            <%= link_to post_path(post.id), class: "text-dark" do %>      
              <strong><%= post.title.truncate(20) %></strong><% end %>
          </div>
          <div>
            <% if post.user.profile_image.attached? %>
             <%= image_tag post.user.profile_image, size: "30x30", class:"mt-3 rounded-circle"; %>
            <% else %>
             <%= image_tag 'no_image_irasutoya', size: "30x30", class:"mt-3 rounded-circle"; %>
            <% end %>
            <small><%= post.user.nickname %></small>
          </div>
        </div>
      </td>
      <td><span><i class="fas fa-comment-dots"></i><%= post.comments.count %></span></td> 
      <td><span><i class="fas fa-heart"></i><%= post.favorites.count %></span></td>    
    </tr>
  <% end %>
</table> 
