<table>
    
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to admin_post_path(post.id), class: "text-dark text-decoration-none" do %>
            <% if post.image.attached? %>
             <%= image_tag post.image, size: "100x80" %>
            <% else %>
             <%= image_tag 'no_image_irasutoya', size: "100x80" %>
            <% end %>
            
            【<%= post.title.truncate(10) %>】
          <% end %>
        </td>
        <td><%= post.tags.map(&:name).join(',') %></td>
      </tr>
    <% end %>
  </table>