<!DOCTYPE html>
<html>
  <head>
    <title>Fukucity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/86b1bf15ce.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <nav class = "navbar navbar-expand-lg navbar-light  border-black border-bottom p-4">
      <div class = "container">
        <a class = "navbar-brand" href = "/">
          <h2>ふくシティ</h2>
        </a>
        <div class ="d-flex flex-column">
          <ul class = "navbar-nav ml-auto">
            <%= render "layouts/header" %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <body style="background-color:#FFFFEE;">
    <%= yield %>
  </body>
</html>
